@import "./search-zone";

.text-center{
    margin: 9.375rem auto;
    width: 75rem;


    h1 {
        color: $white;
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        width: 59.25rem;
        margin: 0 auto;
    }

    h4 {
        color: $white;
        font-size: 1.5rem;
        text-align: center;
        margin: 2.9375rem auto;
        font-weight: 600;
    }
    
}

