@import "./variables";
@import "./font";
@import "./search-zone";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $montserrat;
}

html, body {
    height: 100%;
    overflow-y: hidden;
}

header {
    height: 120px;
    background-color: $dark-color;
    display: flex;
    align-items: center;

    #logo {
        color: $white;
        font-size: 2.25rem;
        margin-left: 34px;
    }

    .search-zone {
        margin-top: 0;
    }
}

main {
    height: 100%;
    background-color: $blueDark-color;

    .linearGradient-white {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 120px;
        left: 0;
        background: linear-gradient(to bottom, rgba($color: $white, $alpha: 0) ,rgba($color: $white, $alpha: 0.7));
    }

    .input-zone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 212px;
        position: relative;
        z-index: 1;

        input {
            width: 519px;
            height: 71px;
            margin-bottom: 39px;
            padding-left: 1.375rem;
            
            &::placeholder {
                color: $grey;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        button {
            width: 519px;
            height: 71px;
            background-color: $yellow-color;
            color: #000;
            font-weight: 700;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: orange;
            }
        }

    }

}