.search-zone {
  margin-top: 2.9375rem;
}

.search-zone .search-bar {
  width: 67.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-zone .search-bar .searchAndButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 10%;
}

.search-zone .search-bar .searchAndButton input {
  min-width: 64.3125rem;
  height: 3.75rem;
  padding-left: 1.375rem;
  border-radius: 10px;
  outline: none;
}

.search-zone .search-bar .searchAndButton input::-webkit-input-placeholder {
  color: #8E8E8E;
}

.search-zone .search-bar .searchAndButton input:-ms-input-placeholder {
  color: #8E8E8E;
}

.search-zone .search-bar .searchAndButton input::-ms-input-placeholder {
  color: #8E8E8E;
}

.search-zone .search-bar .searchAndButton input::placeholder {
  color: #8E8E8E;
}

.search-zone .search-bar .searchAndButton input:focus {
  -webkit-box-shadow: 0 0 3pt 2pt orange;
          box-shadow: 0 0 3pt 2pt orange;
}

.search-zone .search-bar .searchAndButton .search {
  background-color: #FFC045;
  min-width: 120px;
  height: 3.55rem;
  border: none;
  outline: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 2px;
  right: 0;
}

.search-zone .search-bar .searchAndButton .search:hover {
  background-color: orange;
}

.search-zone .search-bar h5 {
  color: #fff;
  min-width: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search-zone .search-bar h5:hover {
  text-decoration: underline;
}

.text-center {
  margin: 9.375rem auto;
  width: 75rem;
}

.text-center h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  width: 59.25rem;
  margin: 0 auto;
}

.text-center h4 {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin: 2.9375rem auto;
  font-weight: 600;
}

.search-zone {
  margin-top: 2.9375rem;
}

.search-zone .search-bar {
  width: 67.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-zone .search-bar .searchAndButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 10%;
}

.search-zone .search-bar .searchAndButton input {
  min-width: 64.3125rem;
  height: 3.75rem;
  padding-left: 1.375rem;
  border-radius: 10px;
  outline: none;
}

.search-zone .search-bar .searchAndButton input::-webkit-input-placeholder {
  color: #8E8E8E;
}

.search-zone .search-bar .searchAndButton input:-ms-input-placeholder {
  color: #8E8E8E;
}

.search-zone .search-bar .searchAndButton input::-ms-input-placeholder {
  color: #8E8E8E;
}

.search-zone .search-bar .searchAndButton input::placeholder {
  color: #8E8E8E;
}

.search-zone .search-bar .searchAndButton input:focus {
  -webkit-box-shadow: 0 0 3pt 2pt orange;
          box-shadow: 0 0 3pt 2pt orange;
}

.search-zone .search-bar .searchAndButton .search {
  background-color: #FFC045;
  min-width: 120px;
  height: 3.55rem;
  border: none;
  outline: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 2px;
  right: 0;
}

.search-zone .search-bar .searchAndButton .search:hover {
  background-color: orange;
}

.search-zone .search-bar h5 {
  color: #fff;
  min-width: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search-zone .search-bar h5:hover {
  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  height: 100%;
}

header {
  height: 120px;
  background-color: #0C2233;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo {
  color: #fff;
  font-size: 2.25rem;
  margin-left: 34px;
}

header .search-zone {
  margin-top: 0;
}

main {
  min-height: 100%;
  background-color: #065471;
}

main .linearGradient-white {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.55)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.55));
}

main .card-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  row-gap: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 33px;
}

main .card-section .card {
  width: 331px;
  height: 422px;
  background: linear-gradient(124.4deg, white, rgba(255, 255, 255, 0.3));
  border-radius: 10px;
}

main .card-section .card img {
  width: 195px;
  height: 195px;
  border-radius: 50%;
  margin-top: 16px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .card-section .card hgroup {
  width: 247px;
  margin: 10px auto;
}

main .card-section .card hgroup .title {
  text-align: center;
  color: #FFC045;
  font-size: 48px;
}

main .card-section .card hgroup .author-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .card-section .card hgroup .author-date .author, main .card-section .card hgroup .author-date .date, main .card-section .card hgroup .author-date p {
  color: #0A91AB;
}

main .card-section .card hgroup .description {
  text-align: center;
  margin-top: 5px;
  color: #0C2233;
}
/*# sourceMappingURL=style2.css.map */